[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd \
  --name={{ inventory_hostname_short }} \
  --cert-file={{ etcd_cert_file }} \
  --key-file={{ etcd_key_file }} \
  --peer-cert-file={{ etcd_peer_cert_file }} \
  --peer-key-file={{ etcd_peer_key_file }} \
  --trusted-ca-file={{ etcd_trusted_ca_file }} \
  --peer-trusted-ca-file={{ etcd_peer_trusted_ca_file }} \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ ansible_host }}:{{ etcd_peer_port }} \
  --listen-peer-urls https://{{ ansible_host }}:{{ etcd_peer_port }} \
  --listen-client-urls https://{{ ansible_host }}:{{ etcd_client_port }},https://127.0.0.1:{{ etcd_client_port }} \
  --advertise-client-urls https://{{ ansible_host }}:{{ etcd_client_port }} \
  --initial-cluster {% for item in groups["controllers"] %}{{ item }}=https://{{ hostvars[item]["ansible_host"] }}:{{ etcd_peer_port }},{% endfor %} \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster-state new \
  --data-dir={{ etcd_data_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
