[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr={{ k8s_pod_cidr }} \
  --cluster-name={{ k8s_cluster_name }} \
  --kubeconfig={{ k8s_library_path }}/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{ k8s_root_ca_file }} \
  --service-account-private-key-file={{ k8s_service_account_private_key_file }} \
  --service-cluster-ip-range={{ k8s_service_cluster_ip_range }} \
  --use-service-account-credentials=true \
  --allocate-node-cidrs=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
